@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>

<style>
    #changecolorforbackground {
        background-color: lightblue;
    }

    #changecolorfornav {
        background-color: white;
        height: 100px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

</style>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YouthAtHeart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body id="changecolorforbackground">
    <header>
        <nav id="changecolorfornav" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">YouthAtHeart</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Workshops
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/WorkshopListing">Book for a Workshop</a>
                                <a class="dropdown-item" href="/WorkshopListing">My workshops</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link navbar-light" asp-area="" asp-page="/FAQ">FAQ</a>
                        </li>


                        @{
                            var sessionName = new Byte[20];
                            string userName = "Guest";
                            bool usernameCond = Context.Session.TryGetValue("userName", out sessionName);
                            if (usernameCond)
                            {
                                userName = System.Text.Encoding.UTF8.GetString(sessionName);
                                <li class="nav-item" id="profile">
                                    <a class="nav-link navbar-light" asp-page="/Profile">Profile</a>
                                </li>
                                <li class="nav-item" id="log_out">
                                    <a class="nav-link navbar-light" asp-page="/Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item" id="register">
                                    <a class="nav-link navbar-light" asp-page="/Registration">Register</a>
                                </li>
                                <li class="nav-item" id="login">
                                    <a class="nav-link navbar-light" asp-page="/Login">Login</a>
                                </li>
                            }


                            <div class="buttons">
                                <div id="google_translate_element"></div>
                                <div><button class="btn" style="background-color: #1c4450;" id="increase">+</button></div>
                                <div><button class="btn" style="background-color: #1c4450;" id="decrease">-</button></div>
                                <div><button class="btn" style="background-color: #1c4450;" id="reset">Reset</button></div>
                            </div>

                            <script>
                                $(document).ready(function () {
                                    $('#increase').click(function () {
                                        modifyFontSize('increase');
                                    });
                                    $('#decrease').click(function () {
                                        modifyFontSize('decrease');
                                    });
                                    $('#reset').click(function () {
                                        modifyFontSize('reset');
                                    })
                                    function modifyFontSize(action) {
                                        var divElement = $('.demo');
                                        var currentFontSize = parseInt(divElement.css('font-size'));
                                        if (action == 'increase')
                                            currentFontSize += 3;
                                        else if (action == 'decrease')
                                            currentFontSize -= 3;
                                        else
                                            currentFontSize = 16;
                                        divElement.animate({ 'fontSize': currentFontSize }, 300);
                                    }
                                });
                            </script>

                            <script type="text/javascript">
                                function googleTranslateElementInit() {
                                    new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
                                }
                            </script>

                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3" id="changecolorforbackground">
            @RenderBody()
        </main>
    </div>

    <div style="height: 50px;"></div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - YouthAtHeart - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
