@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>

<style>
    #changecolorforbackground {
        background-color: lightblue;
    }

    #changecolorfornav {
        background-color: white;
    }
</style>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YouthAtHeart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body id="changecolorforbackground">
    <header>
        <nav id="changecolorfornav" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">YouthAtHeart</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Workshops
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/WorkshopListing">Book for a Workshop</a>
                                <a class="dropdown-item" href="/MyWorkshops">My workshops</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link navbar-light" asp-area="" asp-page="/FAQ">FAQ</a>
                        </li>
                        @try
                        {
                            if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("SSName")))
                            {
                                <li class="nav-item" id="profile">
                                    <a class="nav-link navbar-light" asp-page="/Profile">Profile</a>
                                </li>
                                <li class="nav-item" id="log_out">
                                    <a class="nav-link navbar-light" asp-page="/Logout">Logout</a>
                                </li>
                            }
                        }
                        catch (Exception)
                        {
                            <li class="nav-item" id="register">
                                <a class="nav-link navbar-light" asp-page="/Registration">Register</a>
                            </li>
                            <li class="nav-item" id="login">
                                <a class="nav-link navbar-light" asp-page="/Login">Login</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3" id="changecolorforbackground">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - YouthAtHeart - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
