@page "/WorkshopListing/Edit/{id}"
@model YouthAtHeart.Pages.EditWorkshopModel
@{
    ViewData["Title"] = "Edit Workshop";
}

<h1>Edit Workshop</h1>

<form method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>
        <input type="hidden" asp-for="EditAWorkshop.wsId" />
        <span asp-validation-for="EditAWorkshop.wsId" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">CoverImage:</label>
        <input asp-for="EditAWorkshop.wsCoverImage" />
        <span asp-validation-for="EditAWorkshop.wsCoverImage" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">EnvImage:</label>
        <input asp-for="EditAWorkshop.wsEnvImage" />
        <span asp-validation-for="EditAWorkshop.wsEnvImage" class="text-danger"></span>

    </div>

    <div>
        <label class="col-sm-2 col-form-label">Name:</label>
        <input asp-for="EditAWorkshop.wsName" />
        <span asp-validation-for="EditAWorkshop.wsName" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">Main Information:</label>
        <input asp-for="EditAWorkshop.wsMainInfo" />
        <span asp-validation-for="EditAWorkshop.wsMainInfo" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">Extra Information:</label>
        <input asp-for="EditAWorkshop.wsExtraInfo" />
        <span asp-validation-for="EditAWorkshop.wsExtraInfo" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">Workshop Type:</label>
        @Html.DropDownList("EditAWorkshop.wsType", new SelectList(Enum.GetValues(typeof(Models.WorkshopType))), "--Select an option--")
        <span asp-validation-for="EditAWorkshop.wsType" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">Location:</label>
        @Html.DropDownList("EditAWorkshop.wsLocationType", new SelectList(Enum.GetValues(typeof(Models.LocationType))), "--Select an option--")
        <span asp-validation-for="EditAWorkshop.wsLocationType" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">Location Details:</label>
        <input asp-for="EditAWorkshop.wsLocationDetails" />
        <span asp-validation-for="EditAWorkshop.wsLocationDetails" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">Lesson Schedule:</label>
        <input asp-for="EditAWorkshop.wsLessonSchedule" />
        <span asp-validation-for="EditAWorkshop.wsLessonSchedule" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">Registration Start Date:</label>
        <input asp-for="EditAWorkshop.regStartDate" />
        <span asp-validation-for="EditAWorkshop.regStartDate" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">Registration End Date:</label>
        <input asp-for="EditAWorkshop.regEndDate" />
        <span asp-validation-for="EditAWorkshop.regEndDate" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">First Lesson Date:</label>
        <input asp-for="EditAWorkshop.firstLesDate" />
        <span asp-validation-for="EditAWorkshop.firstLesDate" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">Last Lesson Date:</label>
        <input asp-for="EditAWorkshop.endLesDate" />
        <span asp-validation-for="EditAWorkshop.endLesDate" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">Price:</label>
        <input id="Salary" asp-for="EditAWorkshop.wsPrice" />
        <span asp-validation-for="EditAWorkshop.wsPrice" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">Total Attendees:</label>
        <input id="Salary" asp-for="EditAWorkshop.wsTotalAttendees" />
        <span asp-validation-for="EditAWorkshop.wsTotalAttendees" class="text-danger"></span>
    </div>

    <div class="col-sm-10">
        <input id="update" type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}