@page
@model YouthAtHeart.Pages.FAQModel
@{
    ViewData["Title"] = "FAQ";
}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <H1>FAQ</H1>
    </head>
    <body>
        <p>Welcome to FAQ page, if you have more questions please press the button at the bottom to send.</p>
    </body>
</html>