@page
@model YouthAtHeart.Pages.FAQConfirmationModel
@{
}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title> Confirmation</title>
</head>
<body>
    <a>Your question will be responded soon, please be patient and continue browsing the site for now</a>
    <br />
    <a href="/" class="btn btn-primary">Click here to return to homepage.</a>
</body>
</html>
