@page
@model YouthAtHeart.Pages.FAQSendModel
@{
}
@*<!DOCTYPE HTML>
    <html>
    <head>
        <title>FAQSend</title>
    </head>*@
<!--<body>-->
    <h1>
        Have your questions sent here!
    </h1>
    <form method="post">
        <div class="form-group">
            <label>Email: </label>
            <input type="email" asp-for="MyQuestion.Email" class="form-control col-sm-3" id="email" />
        </div>
        <div class="form-group">
            <label>Question: </label>
            <textarea asp-for="MyQuestion.Question" id="Qn" rows="8" cols="80" class="form-control">
            </textarea>
        </div>
        <input type="submit" class="btn btn-primary"/>
    </form>
    <!--
    </body>
    </html
        -->
