@page
@model YouthAtHeart.Pages.FAQSendModel
@{
}
<!DOCTYPE HTML>
<html>
<head>
    <title>FAQSend</title>
</head>
<body>
    <h1>
        Have your questions sent here!
    </h1>
    <form>
        <div class="container">
            <a>Email: </a>
            <input type="text" class="col-sm-3" id="email" />
        </div>
        <div class="container">
            <a>Question: </a>
            <input type="text" class="col-lg-10" id="qn" />
        </div>
        <a href="/FAQConfirmation" class="btn btn-primary">Submit </a>
    </form>
</body>
</html>