@page
@model YouthAtHeart.Pages.RegistrationModel
@{
ViewData["Title"] = "Registration";
}
<h1>Sign-up</h1>
<form method="post" class="signup">
    <div class="name">
        <asp:Label runat="server" Text="Label">Username: </asp:Label>
        <input id="Username" type="text" />
    </div>
    <div class="email">
        <asp:Label runat="server" Text="Label">Email: </asp:Label>
        <input id="Email" type="email" />
    </div>
    <div class="password">
        <asp:Label runat="server" Text="Label">Password: </asp:Label>
        <input id="Password1" type="password" />
    </div>
    <div class="confirm-pass">
        <asp:Label runat="server" Text="Label">Confirm Password: </asp:Label>
        <input id="Password2" type="password" />
    </div>

</form>