@page
@model YouthAtHeart.Pages.TestFAQModel
@{
}
<form method="post">
    <div class="form-group">
        <label>Email: </label>
        <input type="email" asp-for="MyQuestion.Email" class="form-control col-sm-3" id="email" />
    </div>
    <div class="form-group">
        <label>Question: </label>
        <textarea asp-for="MyQuestion.Question" id="Qn" rows="8" cols="80" class="form-control">
            </textarea>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>