@page
@model YouthAtHeart.Pages.WorkshopListingModel
@{
}

<style>

    .btn {
        @* background-color: #1c4450;*@
        border: none;
        outline: none;
        color: white;
        margin: 5px;
        text-align: center;
        display: inline-block;
        font-size: 12px;
        border-radius: 10px;
        cursor: pointer;
        transition-duration: 0.4s;
        text-transform: uppercase;
    }

    .btn:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

    .buttons {
        display: flex;
        align-items: center;
    }

    .table {
        border-bottom: 0px !important;
    }

    .table th, .table td {
        border: 1px !important;
    }

    .fixed-table-container {
        border: 0px !important;
    }

    th {
@*        width: 1000px;*@
        height: 0px;
        margin: 0 auto;
    }
    #Location, #MainInfo, #LessonSchedule {
        width: 250px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    #Rating {
        width: 250px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    #LocationDetails {
        width: 250px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

</style>

<!-- https://codewithmukesh.com/blog/jquery-datatable-in-aspnet-core/ -->
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/script.js"></script> -->

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="demo" style="width:100%;">
    <div class="container" style="width: 1700px;">
        <br />
        <div style="width:90%; margin:0 auto;">

            @*        <a class="btn btn-success" href="/CreateWorkshop">Delete</a>*@
            <p>
                <a class='btn btn-success' asp-page="CreateWorkshop">Create a New Workshop</a>
            </p>
            <table id="workshopDatatable" class="table dt-responsive nowrap" width="100%" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>wsId</th>
                        @*                        <th>wsCoverImage</th>
                            <th>wsEnvImage</th>
                            <th>wsName</th>
                            <th>wsMainInfo</th>*@
                        @*
                            <th>wsExtraInfo</th>
                            <th>wsType</th>
                            <th>wsLocationType</th>
                            <th>wsLocationDetails</th>
                            <th>wsLessonSchedule</th>

                            <th>regStartDate</th>
                            <th>regEndDate</th>
                            <th>firstLesDate</th>
                            <th>endLesDate</th>
                            <th>wsPrice</th>

                            <th>wsTotalAttendees</th>
                            <th>wsRating</th>
                            <th>dateCreated</th>
                            <th>dateUpdated</th>
                            <th>teacherId</th>*@

                        @*                        <th></th>
                            <th></th>
                            <th></th>*@
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/workshopDatatable.js"></script>
    <script>
        $(document).ready(function () {
            $('#increase').click(function () {
                modifyFontSize('increase');
            });
            $('#decrease').click(function () {
                modifyFontSize('decrease');
            });
            $('#reset').click(function () {
                modifyFontSize('reset');
            })
            function modifyFontSize(action) {
                var divElement = $('.demo');
                var currentFontSize = parseInt(divElement.css('font-size'));
                if (action == 'increase')
                    currentFontSize += 3;
                else if (action == 'decrease')
                    currentFontSize -= 3;
                else
                    currentFontSize = 16;
                divElement.animate({ 'fontSize': currentFontSize }, 300);
            }
        });
    </script>
}


