@page "/WorkshopListing/{id}/Details"
@model YouthAtHeart.Pages.WorkshopDetailModel
@{
}

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<p id="demo"></p>
<div class="col-sm-14">
    <div class="card text-dark bg-light">
        <div class="card-header bg-primary text-warning"><div>11:11:11</div><h4 class="text-center">Our Services</h4></div>
        <div class="container">
            <div class="card-body" style="float: left;">
                <p class="card-text text-left">
                <p class="card-text text-left"><img src="/Image/@Model.WorkshopDetail.wsCoverImage" style="width:150px; height: 120px;"></p>
                </p>
                <h6 class="card-title">11/25</h6>
            </div>

            <div class="card-body">
                <div>
                    afbaoebabeafbaoebabeafbaoebabeafbaoebabeafbaoebabeafbaoebabeafbaoebabeafbaoebabeafbaoebabeafbaoebabeafbaoebabeafbaoebabe

                </div>
                <div>
                    <div style="float: left; padding-right: 20px;">
                        <div>
                            Woodlands
                        </div>
                        <div>
                            4.8(827)
                        </div>
                        <div>
                            2 Lessons
                        </div>
                    </div>
                    <div style="width:150px; float: left;">
                        afbaoebabeafbaoebabeafbaoebabeafbaoebabeafbaoebabeafbaoebabeafbaoebabeafbaoebabeafbaoebabeafbaoebabeafbaoebabeafbaoebabe

                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-primary border-warning text-center">
            <a style="float: right;" class="btn btn-primary" href="/AddBooking/' + data.wsId + '"><i class="fas fa-shopping-cart"> Book </i></a>
        </div>
    </div>
</div>
